@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Bold.woff2") format("woff2"), url("/fonts/Inter-Bold.woff") format("woff"), url("/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff2") format("woff2"), url("/fonts/Inter-Regular.woff") format("woff"), url("/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #131313;
}

.container {
  margin: 0 auto;
  max-width: 1260px;
  padding: 0 30px;
}

@media (max-width: 576px) {
  .container {
    padding: 0 10px;
  }
}
ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

li {
  padding-left: 0;
}

.subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 10px;
  text-transform: uppercase;
  margin-top: 0;
}

.btn-group input {
  padding: 0;
  width: 4px;
  height: 25px;
  background: #131313;
  border: none;
  cursor: pointer;
  border-radius: 1px;
  list-style: none;
  margin-bottom: 10px;
  display: block;
}
.btn-group .active, .btn-group input:hover {
  background: #ff4040;
  transition: 0.5s;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.1em;
  color: #FFFFFF;
  background: #131313;
  padding: 28px 70px;
  border: none;
}

.btn:hover {
  background: #ff4040;
  transition: 0.5s;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin-right: 70px;
}
.menu__list {
  display: flex;
  gap: 10px;
}
.menu__link {
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  padding: 42px 20px;
}
.menu__link:hover {
  background: #131313;
  color: #FFFFFF;
  transition: 0.5s;
}

@media (max-width: 1200px) {
  .menu {
    display: none;
  }
}

.bike {
  padding-top: 100px;
  margin-bottom: 150px;
}
.bike__inner {
  display: flex;
  justify-content: space-between;
}
.bike__col {
  padding-top: 70px;
  width: 540px;
}
.bike__slide {
  max-width: 630px;
}
.bike__slide-img {
  margin-bottom: 25px;
  position: relative;
}
.bike__slide-img img {
  width: 100%;
  position: absolute;
  right: 0;
  opacity: 0;
  transition: opacity 0.5s;
}
.bike__slide-img .showed {
  opacity: 1;
  position: static;
}
.bike__slide-inner {
  margin-bottom: 25px;
}
.bike__slide-inner img {
  width: 100%;
  filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.1));
}
.bike__slide-list {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.bike__slide-list-item {
  max-width: 160px;
}
.bike__slide-list-item span {
  text-align: center;
  display: block;
}
.bike__slide-list-item .value {
  font-weight: 700;
  margin-bottom: 13px;
}
.bike__slide-list-item .key {
  font-size: 12px;
}
.bike__title {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  text-align: left;
}
.bike__subtitle {
  color: #6f6f6f;
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  margin: 0 0 60px;
}
.bike__text {
  width: 420px;
  margin-bottom: 20px;
  line-height: 17px;
}
.bike__link {
  margin-top: 80px;
}
.bike__link:hover {
  background: #ff4040;
  transition: 0.5s;
}
.bike__slide-inner-btn {
  position: relative;
}
.bike__btn-group {
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 1;
}

@media (max-width: 1200px) {
  .bike__title {
    font-size: 50px;
  }
}
@media (max-width: 992px) {
  .bike__inner {
    flex-direction: column;
  }
  .bike__col {
    padding-top: 0;
    width: 100%;
    margin-bottom: 70px;
  }
  .bike__text {
    width: 100%;
  }
  .bike__slide {
    max-width: none;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .bike {
    padding-top: 50px;
    margin-bottom: 70px;
  }
  .bike__subtitle {
    margin-bottom: 30px;
  }
  .bike__link {
    margin-top: 50px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 100%;
    letter-spacing: 1rem;
  }
  .bike__slide-list {
    flex-wrap: wrap;
  }
  .bike__slide-list-item {
    max-width: none;
    width: 50%;
    margin-bottom: 20px;
  }
  .bike__slide-list-item .value {
    margin-bottom: 7px;
  }
}

.banner {
  margin-bottom: 150px;
}
.banner__inner {
  display: flex;
  gap: 60px;
}
.banner__description {
  flex-basis: 460px;
}
.banner__description-box {
  margin-bottom: 50px;
}
.banner__description-box-text {
  line-height: 17px;
}

@media (max-width: 992px) {
  .banner__img img {
    width: 100%;
  }
  .banner__inner {
    flex-direction: column;
    gap: 30px;
  }
  .banner__description {
    flex-basis: 100%;
  }
}

.about__img {
  display: flex;
  align-items: center;
  max-width: 570px;
}
.about__img img {
  width: 100%;
}
.about__col {
  flex: 0 0 570px;
}
.about__inner {
  display: flex;
  gap: 60px;
}
.about .subtitle {
  text-transform: uppercase;
  margin-bottom: 40px;
}
.about__list-title {
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
  background: #131313;
  padding: 3px 5px;
  margin-bottom: 10px;
  margin-top: 30px;
}
.about__list-description {
  padding-left: 5px;
  display: flex;
}
.about__list-text {
  flex-basis: 50%;
  margin: 5px 0;
}

@media (max-width: 1200px) {
  .about__col {
    flex: 0 0 450px;
  }
}
@media (max-width: 992px) {
  .about__inner {
    flex-direction: column-reverse;
  }
  .about__img {
    max-width: none;
    display: block;
  }
}

.slide {
  padding-top: 150px;
  margin-bottom: 50px;
}
.slide__line {
  position: relative;
  max-width: 1150px;
}
.slide__line img {
  width: 100%;
  position: absolute;
  right: 0;
  opacity: 0;
  transition: opacity 0.5s;
}
.slide__line .showed {
  opacity: 1;
  position: static;
}
.slide__inner {
  gap: 50px;
  display: flex;
  justify-content: space-between;
  text-align: right;
}

@media (max-width: 992px) {
  .slide {
    padding-top: 70px;
  }
  .slide__inner {
    gap: 30px;
  }
}
@media (max-width: 576px) {
  .slide__inner {
    gap: 15px;
  }
}

.price__inner {
  display: flex;
  justify-content: space-between;
}
.price__group-img {
  max-width: 620px;
  position: relative;
}
.price .form {
  max-width: 420px;
}
.price .form__label {
  display: flex;
  gap: 23px;
  margin-bottom: 50px;
}
.price .form__label .select {
  box-shadow: 0 0 10px #6f6f6f;
}
.price .form__label-box {
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}
.price .form__label-box:hover {
  box-shadow: 0 0 10px #6f6f6f;
}
.price .form__input-radio {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}
.price .form__input-radio-style-gray {
  background: #6f6f6f;
}
.price .form__input-radio-style-white {
  background: #FFFFFF;
  border: 1px #6f6f6f solid;
  border-radius: 10px;
}
.price .form__input-radio-style-red {
  background: #ff4040;
}
.price .form__input-radio-style {
  width: 80px;
  height: 12px;
  display: block;
}
.price .form__label {
  display: flex;
  margin-bottom: 50px;
  gap: 23px;
}
.price .form__text {
  width: 300px;
  margin-top: 41px;
  margin-bottom: 30px;
}
.price .form__input-name, .price .form__input-phone {
  width: 100%;
  border: none;
  border-bottom: 1px #131313 solid;
  padding-bottom: 10px;
  margin-bottom: 20px;
  outline: none;
}
.price .form__input-name::placeholder, .price .form__input-phone::placeholder, .price .form__input-text {
  color: #6f6f6f;
  opacity: 0.5;
}
.price .form__input-text {
  margin-bottom: 10px;
}
.price__goods-price::after {
  position: absolute;
  content: "";
  top: -43px;
  left: -26px;
  width: 221px;
  height: 100px;
  border: 1px #ff4040 solid;
  border-radius: 50%;
}
.price__goods {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.5s;
}
.price__goods img {
  width: 100%;
}
.price__goods-price {
  font-size: 32px;
  z-index: 1;
  position: absolute;
  top: 30px;
  left: -59px;
}
.price__goods-price::after {
  position: absolute;
  content: "";
  top: -43px;
  left: -26px;
  width: 221px;
  height: 100px;
  border: 1px #ff4040 solid;
  border-radius: 50%;
}
.price__goods-price::before {
  position: absolute;
  content: "";
  top: -27px;
  left: -26px;
  width: 221px;
  height: 100px;
  border: 1px #ff4040 solid;
  border-radius: 50%;
}
.price .showed {
  opacity: 1;
  position: static;
}

@media (max-width: 992px) {
  .price__group-img {
    margin-top: auto;
  }
  .price__goods-price {
    top: -100px;
    left: 32px;
  }
}

/*# sourceMappingURL=style.css.map */
