.footer {
  padding: 21px 0;
  background: $color-black;
  color: $color-white;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__politic {
    align-self: center;

    a {
      color: $color-white;
    }

    a:hover {
      transition: .5s;
      color: $color-red;
    }
  }

  &__social {
    align-self: center;

    a:first-child {
      margin-right: 30px;
    }

    a:hover path {
      transition: .5s;
      fill: $color-red;
    }
  }

  &__contact {
    a {
      display: flex;
      align-items: center;
      gap: 10px;
      text-decoration: none;
      color: $color-white;
    }

    a:hover path, a:hover {
      color: $color-red;
      transition: .5s;
      fill: $color-red;
    }

    a:first-child {
      margin-bottom: 10px;
    }
  }

}