.slide {
  padding-top: 150px;

  &__btn-group {
    input {
      padding: 0;
      width: 4px;
      height: 25px;
      background: $color-black;
      border: none;
      cursor: pointer;
      border-radius: 1px;
      list-style: none;
      margin-bottom: 10px;
      display: block;
    }

    .active {
      background: $color-red;
    }

  }
  &__line {
    position: relative;
    max-width: 1150px;

    img {
      width: 100%;
      right: 0;
      top: 0;
      position: absolute;
      opacity: 0;
      transition: opacity 1s;
    }

    .showed {
      opacity: 1;
      position: static;

    }
  }

  &__inner {
    gap: 50px;
    display: flex;
    justify-content: space-between;
    text-align: right
  }
}