.slide {
  padding-top: 150px;

  &__line {
    position: relative;
    max-width: 1150px;

    img {
      width: 100%;
      position: absolute;
      right: 0;
      opacity: 0;
      transition: opacity .5s;
    }

    .showed {
      opacity: 1;
      position: static;
    }
  }

  &__inner {
    gap: 50px;
    display: flex;
    justify-content: space-between;
    text-align: right
  }
}