.price {
  @media (max-width: 992px) {
    &__inner {
      flex-direction: column-reverse;
    }
    .subtitle {
      display: none;
    }
    &__group-img {
      margin-top: auto;

      .subtitle {
        display: block;
      }
    }

    &__goods-price {
      position: sticky;
      margin-left: 30px;
    }
    .form {
      width: 100%;

      &__text {
        width: 100%;
      }

      &__btn {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        width: 100%;
        letter-spacing: 1rem;
      }
    }
  }
  @media (max-width: 450px) {
    & {
      margin-bottom: 50px;
    }
    &__goods-price {
      font-size: 25px;
    }
    &__goods-price:before {
      top: -29px;
      left: -22px;
      width: 185px;
      height: 70px;
    }
    &__goods-price:after {
      top: -14px;
      left: -22px;
      width: 185px;
      height: 70px;
    }
  }
}
